


<% if @cocktail.photo? %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path @cocktail.photo.path%>')">
      <h2><%= @cocktail.name %></h2>
    </div>
  <% else %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
    <h2><%= @cocktail.name %></h2>
  </div>

<% end %>


<div class="container text-center padded list-inline">
      <p><% @cocktail.doses.each do |dose| %></p>
        <ul class= "list-inline">
           <li> <p><%= dose.description %></p></li>
           <li><%= dose.ingredient.name %></li>
            <li>
              <tr>
              <td><%= link_to 'Delete', dose_path(dose), method: :delete, class: "btn btn-warning" %></td>
              </tr>
            </li>
        </ul>
        <% end %>
</div>


<div class="container ">
   <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= simple_form_for ([@cocktail, @dose]) do |f| %>
          <%= f.error_notification %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit "create dose", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>


<div class="padded text-center">

<%= link_to "back to cocktails", cocktails_path, class: "btn btn-primary btn-sx"%>

<%= link_to "add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-treehouse" %>

<%= link_to "delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>



